<!DOCTYPE html>
<html lang="en" th:replace="~{base :: Layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Edit</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <p class="fs-4">Edit Emp</p>
                        <th:block th:if="${session.msg}">
                            <p class="text-center text-success fs-4">[[${session.msg}]]</p>
                            <th:block th:text="${@empServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/updateEmp" method="post">
                            <input name="id" th:value="${emp.id}" type="hidden">
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Full Name</label>
                                <input class="form-control" name="name" th:value="${emp.name}" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Email address</label>
                                <input class="form-control" name="email" th:value="${emp.email}" type="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Address</label>
                                <input class="form-control" name="address" th:value="${emp.address}" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Gender :</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           id="inlineRadio1"
                                           name="gender"
                                           th:checked="${emp.gender == 'Male'}"
                                           type="radio"
                                           value="Male">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           id="inlineRadio2"
                                           name="gender"
                                           th:checked="${emp.gender == 'Female'}"
                                           type="radio"
                                           value="Female">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           id="inlineRadio3"
                                           name="gender"
                                           th:checked="${emp.gender == 'Other'}"
                                           type="radio"
                                           value="Other">
                                    <label class="form-check-label" for="inlineRadio3">Other</label>
                                </div>
                            </div>


                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">Password</label>
                                <input class="form-control" id="exampleInputPassword1" name="password"
                                       th:value="${emp.password}"
                                       type="password">
                            </div>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>